{% extends "base.html" %}

{% block page_content %}

<title>{{ title }}</title>

<h1>My Dashboard</h1>
<p>{{ errormsg }}</p>

<div class="wrapper">
  {% for company in companies %}
    <div class="wrapper">
      <div class="container">
        <h2>{{ company.symbol }}</h2>
        <h3>{{ company.name }}</h3>
        <h4>{{ company.recommendation }}</h4>
      </div>
    </div>
  {% endfor %}
</div>

<a class="btn btn-primary" href="{% url 'companies' %}">Manage Companies</a>
<a class="btn btn-primary" href="{% url 'search' %}">Search for more companies</a>

{% endblock %}
