:root {
  /* colors */
  --color-primary-light: #eeeeee;
  --color-primary: #34383b;
  --color-primary-dark: #131419;
  --color-accent: #303f9f;
  --color-accent-light: #9d9ed1;

  /* box shadows */
  --box-shadow-light: 6px 6px 10px rgba(0, 0, 0, 0.1),
    -6px -6px 10px rgba(255, 255, 255, 0.7);
  --box-shadow-light-inset: inset 6px 6px 10px rgba(0, 0, 0, 0.1),
    inset -6px -6px 10px rgba(255, 255, 255, 0.7);
  --box-shadow-dark: 6px 6px 10px rgba(0, 0, 0, 0.5),
    -6px -6px 10px rgba(52, 56, 59, 0.5);
  --box-shadow-dark-inset: inset 6px 6px 10px rgba(0, 0, 0, 0.5),
    inset -6px -6px 10px rgba(52, 56, 59, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--color-primary-light);
  color: var(--color-primary);
}

.dark-mode {
  color: var(--color-primary-light);
  background-color: var(--color-primary-dark);
  box-shadow: var(--box-shadow-dark);
}

/********** TEXT **********/

.title {
  padding: 24px;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.subheader {
  padding-bottom: 12px;
  font-size: 16px;
  font-weight: bold;
}

.subtext {
  font-size: 12px;
  font-weight: normal;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

/********** CONTAINERS **********/

.wrapper {
  margin: 12px;
}

.container {
  border-radius: 12px;
  padding: 24px;
  box-shadow: var(--box-shadow-light);
}

.btn {
  margin: 12px auto;
  border: none;
  border-radius: 50vh;
  padding: 12px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background: none;
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: var(--box-shadow-light);
}

.btn:active {
  transform: scale(0.98);
  box-shadow: var(--box-shadow-light-inset);
}

/********** SIGN IN **********/

#signin-container {
  width: 90%;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}

form {
  padding: 12px;
}

form input[type='text'],
input[type='password'] {
  margin-bottom: 12px;
  border: none;
  border-radius: 50vh;
  padding: 12px;
  width: 100%;
  color: var(--color-accent);
  background: none;
  text-align: center;
  box-shadow: var(--box-shadow-light-inset);
}

.login-subtext {
  padding: 0px 12px;
  display: flex;
  justify-content: space-between;
}

#submit-btn {
  width: 50%;
}
